@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-VariableFont_wght.woff2') format('woff2'); 
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  } 
}


* {
  font-family: 'Rubik'
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pagination-btn {
  width: 100%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6A4029;
  margin-top: 30px;
}

.pagination-btn a {
  padding: 5px 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #6A4029;
  color: #6A4029;
  text-decoration: none;
  cursor: pointer; 
}

.pagination-btn a:hover {
  color: #FFBA33 !important;
  background-color: #6A4029;
}

.pagination-active a {
  color: #FFBA33 !important;
  background-color: #6A4029;
}